
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1;
}
.side-nav {
    max-width: 300px;
}
.text-primary {
    color: #42aaf5 !important;
}

.text-dark {
    color: #232323 !important;
}

.bg-light {
    background-color: #efefef !important;
}
.nav-pills .nav-link{
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
    padding: 0;
    padding-top: 1rem;
    font-size: 1rem;
}

.nav-pills .nav-link:hover {
    color: #42aaf5!important;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
}

.nav-pills .nav-link.active h5, .show>.nav-pills .nav-link h5 {
    font-weight: 500;
}

nav .navbar-brand {
    padding-top: 2.5rem;
    padding-bottom: 0;
}

nav .navbar-brand:first-of-type {
    padding-top: 1.5rem;
}

.weight-light {
    font-weight: 300;
}
.btn-light {
    background-color: transparent;
    border: 0;
}

.btn-light:hover {
    color: #42aaf5;
    background-color: transparent;
    border: 0;
}
.btn-light.focus, .btn-light:focus {
    box-shadow: none;
}
