div {
    /* border:1px solid #42aaf5; */
}
body {
    font-family: "Avenir Next", "Avenir", sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1;
}
.side-nav {
    max-width: 300px;
    position: absolute;
    z-index: 1031;
    transition: 0.5s;
    box-shadow: -5px 0px 10px 1px;
    background-color: #ffffff !important;
}
.text-primary, .btn-link {
    color: #42aaf5 !important;
}

.text-dark {
    color: #232323 !important;
}

.bg-light {
    background-color: #efefef !important;
}

.btn-primary {
    background-color: #42aaf5;
    border: 0;
}

.nav-link {
    color: #42aaf5;
}

.form-control {
    border-radius: 0;
}

.form-group {
    padding-bottom: .25rem;
}

.nav-pills .nav-link{
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
    padding: 0;
    padding-top: 1rem;
    font-size: 1rem;
}

.nav-pills .nav-link:hover {
    color: #42aaf5!important;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
}

.nav-pills .nav-link.active h6, .show>.nav-pills .nav-link h6 {
    font-weight: 500;
}

nav .navbar-brand {
    padding-top: 2.5rem;
    padding-bottom: 0;
}

nav .navbar-brand:first-of-type {
    padding-top: 1.5rem;
}

.weight-light {
    font-weight: 300;
}
.btn-light {
    background-color: transparent;
    border: 0;
}

.btn-light:hover {
    color: #42aaf5;
    background-color: transparent;
    border: 0;
}
.btn-light.focus, .btn-light:focus {
    box-shadow: none;
}

.dropdown-sm {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efefef !important;
    min-width: 240px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 1rem;
}

.dropdown-content .nav-link {
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    color: black;
    padding: 0;
    padding-top: 1rem;
    font-size: 1rem;;
}

.dropdown-content .nav-link:hover {
    color: #42aaf5!important;
}

.dropdown-sm:hover .dropdown-content {
    display: block;
}

.mid-position {
    position: relative;
    top: -20px;
}

.bg-brand-blue {
    background-color: #42aaf5;
}

.color-white {
    color: #ffffff;
}

.bg-brand-dark {
    background-color: #656565;
}

/* -------------------Learning Path--------------------------- */

.learning-path .learning-path-track {
    display: inline-grid;
    grid-template-columns: 3fr .9fr 2.5fr .9fr 2.5fr .9fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    margin-bottom: 1rem;
}

.learning-path .learning-path-track div{
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: .8rem;
    background-color: #656565;
    padding: 2px 1rem;
}

.learning-path .learning-path-track div.active {
    background-color: #42aaf5;
}

.student-courses .card-header {
    background-color: transparent;
}

.student-courses .card-body {
    background-color: #F6F6F6;
}

.title-avatar {
    max-width: 100%;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 0px;
}